<?xml version="1.0" encoding="UTF-8" ?>
<PokerTH>
    <Configuration>
        <ConfigRevision value="52" />
        <AppDataDir value="BLANK" />
        <Language value="en_US" />
        <InternetServerAddressIRCChannelUpdateDone value="1" />
        <ShowLeftToolBox value="1" />
        <ShowRightToolBox value="1" />
        <ShowStatusbarMessages value="1" />
        <ShowIntro value="1" />
        <ShowFadeOutCardsAnimation value="1" />
        <ShowFlipCardsAnimation value="1" />
        <ShowBlindButtons value="1" />
        <AntiPeekMode value="0" />
        <AlternateFKeysUserActionMode value="0" />
        <EnableBetInputFocusSwitch value="0" />
        <FlipsideTux value="1" />
        <FlipsideOwn value="0" />
        <FlipsideOwnFile value="" />
        <PlaySoundEffects value="1" />
        <SoundVolume value="8" />
        <PlayGameActions value="1" />
        <PlayLobbyChatNotification value="1" />
        <PlayNetworkGameNotification value="1" />
        <NumberOfPlayers value="7" />
        <StartCash value="3000" />
        <FirstSmallBlind value="10" />
        <RaiseBlindsAtHands value="1" />
        <RaiseBlindsAtMinutes value="0" />
        <RaiseSmallBlindEveryHands value="8" />
        <RaiseSmallBlindEveryMinutes value="5" />
        <AlwaysDoubleBlinds value="1" />
        <ManualBlindsOrder value="0" />
        <ManualBlindsList value="Blind" type="list" />
        <AfterMBAlwaysDoubleBlinds value="1" />
        <AfterMBAlwaysRaiseAbout value="0" />
        <AfterMBAlwaysRaiseValue value="0" />
        <AfterMBStayAtLastBlind value="0" />
        <GameSpeed value="4" />
        <PauseBetweenHands value="0" />
        <ShowGameSettingsDialogOnNewGame value="1" />
        <NetNumberOfPlayers value="7" />
        <NetStartCash value="3000" />
        <NetFirstSmallBlind value="10" />
        <NetRaiseBlindsAtHands value="1" />
        <NetRaiseBlindsAtMinutes value="0" />
        <NetRaiseSmallBlindEveryHands value="8" />
        <NetRaiseSmallBlindEveryMinutes value="5" />
        <NetAlwaysDoubleBlinds value="1" />
        <NetManualBlindsOrder value="0" />
        <NetManualBlindsList value="NetBlind" type="list" />
        <NetAfterMBAlwaysDoubleBlinds value="1" />
        <NetAfterMBAlwaysRaiseAbout value="0" />
        <NetAfterMBAlwaysRaiseValue value="0" />
        <NetAfterMBStayAtLastBlind value="0" />
        <NetGameSpeed value="4" />
        <NetTimeOutPlayerAction value="20" />
        <ServerPassword value="" />
        <ServerUseIpv6 value="0" />
        <ServerUseSctp value="0" />
        <ServerPort value="7234" />
        <InternetServerAddress value="pokerth.6dns.org" />
        <InternetServerPort value="7234" />
        <InternetServerPassword value="" />
        <InternetServerUseIpv6 value="0" />
        <InternetServerUseSctp value="0" />
        <UseInternetGamePassword value="0" />
        <InternetGamePassword value="" />
        <UseIRCLobbyChat value="1" />
        <IRCServerAddress value="chat.freenode.net" />
        <IRCServerPort value="6667" />
        <IRCChannel value="#pokerth-lobby" />
        <IRCChannelPassword value="" />
        <IRCServerUseIpv6 value="0" />
        <UseAdminIRC value="0" />
        <AdminIRCServerAddress value="chat.freenode.net" />
        <AdminIRCServerPort value="6667" />
        <AdminIRCChannel value="#test" />
        <AdminIRCChannelPassword value="" />
        <AdminIRCServerUseIpv6 value="0" />
        <AdminIRCServerNick value="PokerTH" />
        <MyName value="Human Player" />
        <MyAvatar value="" />
        <Opponent1Name value="Player 1" />
        <Opponent1Avatar value="" />
        <Opponent2Name value="Player 2" />
        <Opponent2Avatar value="" />
        <Opponent3Name value="Player 3" />
        <Opponent3Avatar value="" />
        <Opponent4Name value="Player 4" />
        <Opponent4Avatar value="" />
        <Opponent5Name value="Player 5" />
        <Opponent5Avatar value="" />
        <Opponent6Name value="Player 6" />
        <Opponent6Avatar value="" />
        <LogOnOff value="0" />
        <LogDir value="BLANK" />
        <LogStoreDuration value="2" />
        <LogInterval value="0" />
        <UserDataDir value="BLANK" />
        <CacheDir value="BLANK" />
        <CLA_NoWriteAccess value="0" />
        <DisableBackToLobbyWarning value="0" />
    </Configuration>
</PokerTH>
